@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Roboto+Serif:wght@400;700&display=swap");
@import "tailwindcss";

:root {
  --font-primary: "Questrial", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-secondary: "Roboto Serif", serif;

  --palette-deep-blue: #0356a4;
  /*--palette-deep-blue: #0e1c97 ; old color, must think what is better*/
  --palette-medium-blue: #2F77FF;
  --palette-cyan: #8BE9FF;
  --palette-pale: #EAF6FF;

  /* shortcuts */
  --brand: var(--palette-deep-blue);
  --accent: var(--palette-medium-blue);
  --muted-accent: var(--palette-cyan);
  --soft-bg: var(--palette-pale);

  --bg: #ffffff;
  --muted: #6b6b6b;
  --card-border: #2b2b2b;
  --card-bg: #eaeaea;

  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --radius: 8px;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: var(--font-primary);
  background: var(--bg);
  color: #111;
}

.center { display:flex; align-items:center; justify-content:center; }
.sr-only {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}