services:
  mysql:
    image: mysql:8.4
    container_name: mysql_db
    env_file:
      - .env # Load environment variables from .env file
    ports:
      - "5001:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    restart: unless-stopped
    networks:
      - mysql_network

volumes:
  mysql_data:
    driver: local

networks:
  mysql_network:
    driver: bridge
